{% extends "base.html" %}
{% block head %}
    {{ person_form.media }}
	<script type="text/javascript" src="/static/js/ajax-form.js"></script>
{% endblock %}

{% block content %}
<h1>42 Coffee Cups Test Asignment</h1>

<div id="status" class="status"></div>

<form id="editForm" method="POST" action="{% url edit %}">
    {% csrf_token %}
    <table width="100%">
        <tr>
            <td>
                <table>
                    {{ person_form.as_table }}
                </table>
            </td>
            <td>
                <table>
                    {{ contacts_form.as_table }}
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Edit" />
                <a href="{% url index %}">Cancel</a>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
