{% extends "base.html" %}
{% block content %}
{% load jet-tags %}
<h1>42 Coffee Cups Test Asignment</h1>
<a href="{% edit_link person %}">Edit using admin edit page</a>
<div id="info" class="info"> 
    <div class="info-data">
        <p>{{ person.name }}</p>
        <p>{{ person.surname }}</p>
        <p>{{ person.birth }}</p>
        <p></p>
        <p>Bio:<br />{{ person.bio|linebreaks }}</p>
    </div>

    <div>
        <p></p>
        <p>Email: {{ person.contacts.email }}</p>
        <p>Jabber: {{ person.contacts.jabber }}</p>
        <p>other contacts:<br />{{ person.contacts.other|linebreaks }}</p>
    </div>
</div>
{% endblock %}
