{% extends "base.html" %}
{% block content %}
<h1>42 Coffee Cups Test Asignment</h1>
<div id="info" style="width: 800px;height:250px;">
    <div style="width: 400px; float: left;">
        <p>{{ person.name }}</p>
        <p>{{ person.surname }}</p>
        <p>{{ person.birth }}</p>
        <p></p>
        <p>Bio:<br />{{ person.bio|linebreaks }}</p>
    </div>

    <div style="">
        <p></p>
        <p>Email: {{ person.contacts.email }}</p>
        <p>Jabber: {{ person.contacts.jabber }}</p>
        <p>other contacts:<br />{{ person.contacts.other|linebreaks }}</p>
    </div>
</div>

<p></p>
<div>
<hr />
<a href="{% url request_list %}">requests</a>
</div>
{% endblock %}
